/* Increase the default font size. */
html {
    font-size: 13pt;
}

/* Dirty hack to get the logo on the front page bigger.
check for a better way.*/
.w-36 {
    width: 20rem;
}

/* Make the header sticky */
header {
    background-color: rgba(var(--color-neutral));
    position: sticky;
    top: 0;
    z-index: 1;
}

header.dark\:text-neutral {
    background-color: rgba(var(--color-neutral-dark));
}
