{{ $lazy := .Page.Params.enableImageLazyLoading | default .Site.Params.enableImageLazyLoading | default true }}
{{ $organizers := site.Data.organizers }}

<div class="flex flex-col gap-12">
    {{ range $organizers }}
    <div class="flex">
        {{ $altText := .name | default "Organizer" }}
        {{ with .image }}
        {{ $imgClass := "!mb-0 !mt-0 me-4 w-24 h-24 rounded-full" }}
        <img src="{{ . | safeURL }}" alt="{{ $altText }}" class="{{ $imgClass }}" {{ if $lazy }}loading="lazy" {{ end
            }}>
        {{ end }}
        <div class="place-self-center">
            <div class="text-[0.6rem] uppercase leading-3 text-neutral-500 dark:text-neutral-400">
                {{ .role | default "Organizer" }}
            </div>
            <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
                {{ .name | markdownify | emojify }}
            </div>
            {{ with .bio | markdownify | emojify }}
            <div class="text-sm text-neutral-700 dark:text-neutral-400">{{ . }}</div>
            {{ end }}
            {{ if .links }}
            <div class="text-2xl sm:text-lg">
                {{ partial "organizer-links.html" . }}
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
