{{ $id := .Get "id" }}
{{ $disabledText := .Get "disabledText" }}

<div align="center" class="mb-10">
  <a
    class="!no-underline"
    {{ with .Get "href" }}href="{{ . }}"{{ end }}
    {{ with .Get "target" }}target="{{ . }}"{{ end }}
  >
    <button
      id="{{ $id }}"
      form="{{ $id }}-form"
      type="button"
      class="hidden !rounded-md bg-primary-600 px-4 py-1 !text-neutral hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700"
    >
      {{ .Inner }}
    </button>
  </a>
</div>

<script type="text/javascript">
  base64URLdecode = (str) => {
    const base64Encoded = str.replace(/-/g, '+').replace(/_/g, '/');
    const padding = str.length % 4 === 0 ? '' : '='.repeat(4 - (str.length % 4));
    const base64WithPadding = base64Encoded + padding;
    return atob(base64WithPadding)
      .split('')
      .map(char => String.fromCharCode(char.charCodeAt(0)))
      .join('');
  }
  checkUriForChange = () => {
    const uri = new URL(window.location.href);
    const f = uri.searchParams.get("f");
    if (f) {
      uri.searchParams.delete("f", f);
      window.history.replaceState(null, null, uri);
      let success = false;
      try {
        success = JSON.parse(base64URLdecode(f)).orderSuccess;
      } catch (e) {
      }
      if (success) {
        return {"orderSuccess": true};
      }
    }
  };
  checkCookieForValue = () => {
    const orderSuccess = document.cookie
      .split("; ")
      .find((row) => row.startsWith("orderSuccess="))
      ?.split("=")[1];
    if (orderSuccess === "true") {
      return {"orderSuccess": true};
    } else if (orderSuccess === "false") {
      return {"orderSuccess": false};
    }
  };
  setButtonAndCookie = (obj) => {
    if (obj.orderSuccess) {
      document.querySelector("#{{ $id }}").disabled = true;
      document.querySelector("#{{ $id }}").classList.add("cursor-not-allowed", "bg-neutral-600", "dark:bg-neutral-800");
      document.querySelector("#{{ $id }}").classList.remove("bg-primary-600", "hover:!bg-primary-500", "dark:bg-primary-800", "dark:hover:!bg-primary-700");
      document.querySelector("#{{ $id }}").innerText = "{{ $disabledText }}"
    }
    if (!obj.alreadySet) {
      document.cookie = `orderSuccess=${obj.orderSuccess}`
    }
  };
  onload = (evt) => {
    const cookieValue = checkCookieForValue();
    const uriValue = checkUriForChange();
    // object comparison is quite ugly in js, this works and is fast
    if (uriValue && cookieValue && (JSON.stringify(uriValue) !== JSON.stringify(cookieValue))) {
      setButtonAndCookie(uriValue);
    } else if (uriValue && !cookieValue) {
      setButtonAndCookie(uriValue);
    } else if (cookieValue) {
      cookieValue.alreadySet = true;
      setButtonAndCookie(cookieValue);
    }
    document.querySelector("#{{ $id }}").classList.replace("hidden", "block");
  };
</script>

<noscript>
  <style>
    /* for non-js-clients: make button visible */
    #{{ $id }} {
      display: block;
    }
  </style>
</noscript>
